.button {
  display: inline-block;
  outline: none;
}
.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 39rem;
  height: 7rem;
  color: #222222;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.2rem;
  background-color: #fccc22;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
  &:hover {
    box-shadow: -0.5rem 0.8rem 2rem rgba(226,183,31,.4);
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: #222222;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.2rem;
  background-color: #fccc22;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10;
  &:hover {
    box-shadow: -0.5rem 0.8rem 2rem rgba(226,183,31,.4);
  }
  &-form {
    max-width: 39rem;
    @media all and (min-width:767px) and (max-width: 1023px) {
      max-width: 30rem;
    }
   }
  &-base {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.2rem;
    border: 0.1rem solid #c1c1c1;
    background-color: #ffffff;
    color: #222222;
    text-decoration: none;
    outline: none;
    z-index: 10;
    transition: all 0.3s;
    &:hover {
      border: 0.1rem solid #fccc22;
    }
    &--active {
      border: none;
      background: #fccc22;
      transition: all 0.3s;
      outline: none;
      z-index: 10;
      &:hover {
        box-shadow: -0.5rem 0.8rem 2rem rgba(226,183,31,.4);
        border: none;
      }
    }
  }
}