.offer {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  &-bg {
    &-img {
      position: absolute;
      right: 0;
      bottom: -12rem;
      transform: translateX(25%);
      z-index: 1;
      @media all and (max-width: 1365px) {
        display: none;
      }
      @media all and (min-width:1366px) and (max-width: 1800px) {
        max-width: 50rem;
        bottom: -5rem;
        right: -1rem;
      }
    }
  }
  &-img {
    margin-right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    .st0 {
      fill: #fccc22;
    }
    & svg {
      & path {
        fill: #fccc22;
      }
    }
  }
  &-section {
    position: relative;
    &-wrap {

    }
  }
  &-restaurant,&-factory {
    width: calc(100% / 2);
  }
  &-tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #222222;
    font-family: "Museo Sans Cyrl 700";
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    &-head {
      margin-bottom: 2.5rem;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      @media all and (max-width: 480px) {
        font-size: 1.3rem;
      }
    }
    &-item {
      margin-right: 1rem;
      width: 16rem;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid #fccc22;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: -0.5rem 0.8rem 2rem rgba(226,183,31,.4);
        border: .1rem solid #fccc22;
        background-color: #fccc22;
      }
      &:last-of-type {
        margin-right: 0;
      }
      @media all and (max-width: 740px) {
        margin-right: 0;
        width: 100%;
      }
      @media all and (min-width: 767px) and (max-width:1024px) {
        width: 14rem;
      }
    }
  }
  &-content {
    display: none;
    align-items: stretch;
    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }
    &-wrapper {
      margin-top: 3.5rem;
      width: 100%;
      border: 0.1rem solid #e6e6e6;
      box-shadow: -0.5rem 0.8rem 3rem rgba(31,34,38,.1);
    }
    &-active {
      display: flex;
    }
  }
  &-column {
    &:first-of-type {
      max-width: 41.5rem;
      width: 100%;
    }
    &:nth-of-type(2) {
      max-width: 36.3rem;
      width: 100%;
    }
    &:last-of-type {
      max-width: 36rem;
      width: 100%;
      .offer-column-body {
        border-right: none;
      }
      .offer-column-head {
        border-right: none;
      }
    }
    @media all and (max-width: 1024px) and (max-height:768px) {
      &:nth-of-type(2) {
        max-width: 38.3rem;
      }
      &:last-of-type {
        max-width: 38rem;
      }
    }
    color: #222222;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 400;
    @media all and (max-width: 767px) {
      max-width: 100% !important;
    }
    &-head {
      min-height: 5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 3rem;
      border-right: 0.1rem solid #e6e6e6;


      &:nth-of-type(1) {
        max-width: 41.5rem;
        width: 100%;
      }
      &:nth-of-type(2) {
        max-width: 36.3rem;
        width: 100%;
      }
      &:nth-of-type(3){
        max-width: 36rem;
        width: 100%;
        border-right: none;
      }
      &-wrapper {
        padding: 2.5rem 0 2.5rem 3rem;
        background: #f7f7f7;
        min-height: 10rem;
        @media all and (min-width:767px) and (max-width: 1025px) {
          padding: 2.5rem 0 2.5rem 2rem;
        }

      }
      &__price {
        margin-bottom: 1.5rem;
      }
      & strong {
        margin-left: 2rem;
        font-weight: 500;
      }
      @media all and (max-width: 767px) {
          border-right: none;
      }
    }
    &-body {
      &-wrapper {
        display: flex;
        padding: 4rem 0 4rem 3rem;
      }
      min-height: 34rem;
      align-items: stretch;
      padding-right: 3rem;
      border-right: 0.1rem solid #e6e6e6;
      @media all and (max-width: 767px) {
        min-height: auto;
        width: 100%;
        border-right: none;
      }
      & ul {
        & li {
          margin-bottom: 1.5rem;
          position: relative;
          padding-left: 1.5rem;
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0.4rem;
            height: 0.4rem;
            background: #fccc22;
            border-radius: 50%;
          }
        }
      }
      & p {
        margin-bottom: 3rem;
      }
    }
  }
  &-form {
    &-wrapper {
      width: 100%;
      position: relative;
      padding: 4rem;
      box-shadow: -0.5rem 0.8rem 3rem rgba(31, 34, 38, 0.1);
      border-radius: 0.2rem;
      background-color: #ffffff;
      border-bottom: 0.5rem solid #fccc22;
      border-right: .1rem solid #e6e6e6;
      border-left: .1rem solid #e6e6e6;
    }
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media all and (max-width: 767px) {
        flex-wrap: wrap;
        .form-input-wrapper {
          margin-bottom: 1.5rem;
          max-width: 100%;
          width: 100%;
        }
        & input:not([type="submit"]), & input[type="submit"] {
          width: 100%;
          max-width: 100%;
        }
      }
      & input:not([type="submit"]) {
        width: 30rem;
        max-width: 30rem;
        @media all and (min-width: 767px) and (max-width: 1023px) {
          max-width: 25rem;
        }
      }
      & input [type="submit"] {
        max-width: 39rem;
      }
      .form-input-wrapper {
        margin-bottom: 0;
      }
    }
  }
  &-tab {
    &-wrapper {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
    }
    &__head {
      &-wrapp {
        padding: 2rem 0;
        background: #fafafa;
      }
      border-left: 0.1rem solid;
      padding: 2rem 3rem;
    }
    &-column {
      &:first-of-type {
        max-width: 41.5rem;
      }
      &:nth-of-type(2) {
        max-width: 34rem;
      }
      &:last-of-type {
        max-width: 35rem;
      }
    }
  }

}
.tab-active {
  display: block;
}
.tab-active-link {
  box-shadow: -0.5rem 0.8rem 2rem rgba(226, 183, 31, 0.4);
  border-radius: 0.2rem;
  border: 0.1rem solid #fccc22;
  background-color: #fccc22;
}
